/* TaskForm.css */

.task-form {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will position the input and button at the ends */
    margin-bottom: 20px;
  }
  
  .task-form input[type='text'] {
    width: calc(100% - 100px); /* Adjusted width to accommodate the button */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 25px;
  }
  
  .task-form button {
    width: 110px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .task-form button:hover {
    background-color: #0056b3;
  }
  